<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <title>Available records</title>
</head>

<body>
    <div class="container">
        <h1>Lista plików do odtworzenia:</h1>
        <ul>
            {% for file in files %}
            <li>{{file.name}} ({{file.extension}}):</br>
                <audio controls>
                    <source src="/records/{{file.filename}}" type="audio/mpeg">
                </audio>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>