<!DOCTYPE html>
<html>
<head>
    <title>Available records</title>
</head>

<body>
    <div class="container">
        <h1>Lista plików do odtworzenia:</h1>
        <ul>
        {% for file in files %}
            <li>{{file}}</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>